@import url(http://fonts.googleapis.com/css?family=Lato:400,700);
@import url(http://fonts.googleapis.com/css?family=Alike);

body {
  margin: 0;
  background-color: #a5797b;
}


header {
  margin: 0 auto;
  width: 1000px;
  background-image: url(../images/flag.jpg)
}

header h1 {
  text-align: center;
  margin: 0;
  padding-top: .25em;
  color: #9d0609;
  font-family: Alike;
  font-size: 200%;
  font-weight: 700;
}

header h2 {
  text-align: center;
  margin: 0;
  padding-bottom: 1em;
  color: #9d0609;
  font-family: Alike;
  font-size: 200%;
  font-weight: 700;
}

h3 {
  margin: 0;
  margin-top: 10px;
  margin-bottom: 5px;
  background-color: #a5797b;
  font-family: Alike;
  font-size: 135%;
  font-weight: 400;
}

ul{
  list-style-image: url(../images/star.png);
}

p {
  margin: 0;
  margin-bottom: 10px;
}

nav {
  margin: 0 auto;
  width: 1000px;
  padding: 5px 0;
  text-align: center;
  background-color:#b9b4b5;
  border-color: #141237;
}

nav a {
  margin: 0 35px;
  color: #6f6f81;
}

.floatright {
  float: right;
  margin-left: 10px;
}

#maincolumn {
  margin: 0 auto;
  width: 1000px;
  padding: 5px 15px;
  background-color: #b9b4b5;
  font-family: "Lato", sans-serif;
  font-size: 97%;
  font-weight: 400;
}

#navLinks{
  font-family: "Lato",sans-serif;
  color: #2a3178;
}
